  footer {
	 
	 position: fixed;
	 bottom:15px;
	 width: 99%;
 }
 button.link { background:none;border:none; text-decoration:underline; color: "#000000"; cursor: pointer
 
 }
 p {
	 border:10px;
	 color:red;
	 
 }
 
	 
 .tablinks {
	 /*visibility:collapse;*/
	 margin-top:10px;
	 margin-bottom:20px;
	 padding-top:10px;
	 padding-bottom:10px;
	 padding-left:8.2%;
	 padding-right:8.2%;
	 outline-width:thick;
	 outline-style:solid;
	 outline-color:green;
	 background-color:#32cd32;
	}
	
body {
	background-color:#97CCF1 ;
}
