 button.link { background:none;border:none; text-decoration:underline; color: "#000000"; cursor: pointer
 
 }
 p {
	 border:10px;
	 color:blue;
	 
 }
 footer {
	 
	 position: fixed;
	 bottom:15px;
	 width: 99%;
	 
 }
 .tab {
	 /*visibility:collapse;*/
	 margin-top:10px;
	 margin-bottom:20px;
	 margin-left:0px;
	 margin-right:0px;
	 padding-top:10px;
	 padding-bottom:10px;
	 padding-left:30px;
	 padding-right:30px;
	 outline-width:thick;
	 outline-style:solid;
	 outline-color:green;
	 background-color:lime;
	}
