 button.link { background:none;border:none; text-decoration:underline; color: "#000000"; cursor: pointer}
 button.link { background:none;border:none; text-decoration:underline; color: "#000000"; cursor: pointer
 
 }
 p {
	 border:10px;
	 color:blue;
	 
 }
 footer {
	 
	 position: absolute;
	 bottom:15px;
	 width: 99%;
	 
 }
